<%= render 'layouts/messages', obj: @post %>

<%= form_with(model: @post) do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </p>
  <p>
  <%= f.label :body %>
  <%= f.text_field :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>