<h1>Post Lisitng Page</h1>

<h2><%=  "Welcome to the club, #{current_user.username}"  if logged_in? %></h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan= "4">Information</th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <% if post.user == current_user && logged_in? %>
      <td> <%= link_to "Edit Post", edit_post_path(post)  %></td>
      <td> <%= link_to "Delete", post_path(post), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' } %></td>
      <td> <%= link_to "Show Post", post_path(post) %></td>

        <% else %>
      <td> <%= link_to "Show Post", post_path(post) %></td>
      <% end %>
      <td> <%= post.user.username if post.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Post", new_post_path %>
<% if logged_in? %>
  <%= link_to "Logout ", logout_path, data: {"turbo-method": :delete} %>
    <% else %>
  <%= link_to "login", login_path %>
  <%= link_to "Signup", signup_path %>
<% end %>
  